 <a href="/dash"><i class="fas fa-arrow-circle-left fa-2x"></i></a><br><br>
 <h1>Tus canciones favoritas</h1><br>
<table class="table">
                        <thead class="thead-light">
                            <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Artista</th>
                            <th scope="col">Genero</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each songs}}
                            <tr>
                            <td>{{nombre}}</td>
                            <td>{{artista}}</td>
                            <td>{{genero}}</td>
                            <td><a href="/play/{{_id}}"><i class="fas fa-play-circle fa-2x"></i></a></td>
                            <td><form action="/favs/remove/{{_id}}?_method=POST" method="POST">
                                <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fas fa-heart fa-2x"></i>
                                </button>
                                </form>
                            </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        </table>