 <h1>Canciones</h1><br>
 <div class="container-fluid">
     <div class="row">
            <div class="col-lg">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Artista</th>
                            <th scope="col">Genero</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each songs}}
                            <tr>
                            <td>{{nombre}}</td>
                            <td>{{artista}}</td>
                            <td>{{genero}}</td>
                            <td><a href="/play/:{{_id}}"><i class="fas fa-play-circle fa-2x"></i></a></td>
                            <td><form action="/eliminar/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-block btn-sm">
                                Eliminar
                                </button>
                            </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        </table>
            </div>
     </div>
 </div>
 <div class="">
         <audio id="audioPlayer" controls autoplay>
             <source src="../../public/music/" type="audio/mp3">
         </audio>
</div>